<h1 id="hello">Your unfollowers</h1>

<a href="/update">Update the unfollowers list</a>

<h3>Total of <%= @followers.size %> alteration(s)</h3>

<ul>
<% @followers.each do |follower| %>
  <li><%=h follower.screen_name %></li>
<% end %>
</ul>